:root {
  --header-height: 10vh;
  --footer-height: 10vh;
}

html,
body,
#root,
.app-container {
  margin: unset;
  padding: unset;
  width: stretch;
  height: stretch;
  overflow: hidden;
  position: relative;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
}

.body {
  width: stretch;
  height: stretch;
  padding: calc(var(--header-height) + 0.5rem) 0.5rem calc(var(--footer-height) + 0.5rem) 0.5rem;
  gap: 0.25rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "page-sizing . search"
    "tasks tasks tasks"
    "page-info . pagination";
}

.header {
  background-color: #1976d2;
  padding: 0 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto;
  grid-template-areas: "title controls";
  height: var(--header-height);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: stretch;
  z-index: 1;
  align-items: center;
}

.footer {
  background-color: #1976d2;
  padding: 0 10px;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto auto;
  grid-template-rows: auto;
  grid-template-areas: "footer-text pagination controls";
  height: var(--footer-height);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: stretch;
  z-index: 1;
  align-items: center;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  grid-area: title;
  height: auto;
}

.controls {
  grid-area: controls;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: no-wrap;
}

p,
span,
button,
input[type="text"] {
  font-size: 1rem;
}

p,
span,
button {
  min-height: 15px;
  padding: 10px 20px;
}

.text-center {
  text-align: center;
}

.full-width {
  width: stretch;
}

.full-height {
  height: stretch;
}

.dark-text {
  color: #333;
}

.light-text{
  color: #fff;
}

.darken-on-hover:hover {
  filter: brightness(0.9);
  background-color: #f0f0f0;
}

button {
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  min-height: 40px;
}

button:hover {
  background-color: #1976d2;
}

button:disabled {
  background-color: #ccc;
  cursor: default;
  color: black;
}

button.add {
  background-color: #4caf50;
}

button.add:hover {
  background-color: #388e3c;
}

button.save {
  background-color: #4caf50;
}

button.save:hover {
  background-color: #388e3c;
}

button.edit {
  background-color: #2196f3;
}

button.edit:hover {
  background-color: #1976d2;
}

button.cancel {
  background-color: rgb(156, 156, 156);
}

button.cancel:hover {
  background-color: rgb(120, 120, 120);
}

button.delete {
  background-color: #f44336;
}

button.delete:hover {
  background-color: #d32f2f;
}

.button-col-1 {
  grid-area: button-col-1;
}

.bordered {
  border: 1px solid transparent;
  border-radius: 5px;
}

input[type="text"] {
  height: 38px;
  width: stretch;
  padding: 0px 20px;
  outline: unset;
  border: unset;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"].invalid {
  background-color: #f8d7da;
  border-color: #fd031c;
  color: #fd031c;
}

.relative-container {
  position: relative;
}

.task-name-length {
  position: absolute;
  right: 10px;
  bottom: 0px;
  top: 0px;
  font-size: 0.8rem;
  color: #666;
  height: fit-content;
  padding: unset;
  margin-top: auto;
  margin-bottom: auto;
}

.task-name-length.invalid {
  color: #fd031c;
}

.task-list {
  grid-area: tasks;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-y: auto;
  height: stretch;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.page-info{
  grid-area: page-info;
}

.pagination {
  grid-area: pagination;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: no-wrap;
}

.task-list-item {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 90px;
  grid-template-rows: auto;
  grid-template-areas: "taskName button-col-1";
  gap: 0.5rem;
  align-items: center;
}